<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title 港美股行情 
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="format-detection",content="telephone=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
  body
    div#app
      a(href="#/home") home 
      a(href="#/about") about
      router-view(keep-alive,transition="fade")
    div#pluginsWrap(style="display:none",v-show="isReady")
