// 标题栏 蓝色
$color-blue: #4e66a9; // 蓝色按钮
$color-btn-blue: #6785d8; // 蓝色背景
$color-btn-red: #ef4f4f; // 红色背景
$color-font-red: #f14a51; // 绿色
$color-green: #00be7b;
$color-tip-gray: #666666;
$color-font-main: #333333;
$color-font-light: #999999;
$color-font-gold: #dfcb93; // 边框线
$color-border: #d8d8d8;
$color-gray: #bcbcbc;
$color-bg-gray: #777778;

$color-light-bg: #f8f9fb;
//蓝色字体
$color-font-blue: #2758b9;


$main-page-bg-color: #efeff4; //boder颜色
$main-border-color: #e1e2e5; // 提示文字颜色
$main-tip-font-color: #6e6e6e; // 黑色字体
$main-font-color: #333333; // 辅助字体颜色
$main-help-font: #666666; //页面样式设置
$main-help-info-color: #999999; // 黑色字体
$main-red-font-color: #ff4e56;
$main-blue-color: #075cd0; // 蓝色字体
$main-btn-blue: #408ff2; // 按钮蓝色
$main-yellow-color: #ffaf00;
