// 顶部导航

.nav-top {
    // @include flexbox;
    background-color: #566dad;
    height: 40px;
    line-height: 40px;

    .back {
        padding-right: 15px;
        padding-left: 15px;
        position: absolute;
        float: left;

        .btn-back {
            width: 30px;
            // margin-top: 8px;
            // margin-left: 16px;
            .left-arrow {
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-image: url("../images/index/arrow_left.png");
                width: 10px;
                height: 18px;
                position: relative;
                float: left;
                top: 4px;
            }
        }
    }

    button {
        border: none;
        background: none;
    }
    // }
    div {
        // @include flex(0,0,auto);
        &:nth-child(2) {
            // @include flex(1,0,auto);
            text-align: center;
            width: auto;
            color: #fff;
        }

        &.btn-left {
            padding-right: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
